@font-face {
    font-family: BemboStd;
    src: url("../fonts/BemboStd.otf");
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNovaAltRegular.otf");
}

html *{ font-family: BemboStd;}

p { font-size: 120%;}

h3 { font-size: 1.8em;}

.full_screen {
    width: 100%;
    height: 100%;
}

@media (min-width: 601px) {
 .hult_header {
    background-image: url("../images/layout-top.png");
    background-size: 100% 160px;
    background-repeat: no-repeat;
 }
 .header-clear {
        position:absolute;
        top:130px;
        border:0px solid blue;
        background-color: #FFFFFF;
        width: 100%;
        height: 96px;
        -ms-transform: skew(0deg,-2deg); /* IE 9 */
        -webkit-transform: skew(0deg,-2deg); /* Safari */
        transform: skew(0deg,-2deg); /* Standard syntax */
        z-index: -1;
    }
    .header-grad {
        position:absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 170px;
        background: #993334; /* For browsers that do not support gradients */
        background: linear-gradient(to right, #993333 , #663366); /* Standard syntax */
        border: 0px solid black;
        z-index: -1;
    }
}
 
 @media (max-width: 600px) {
    .hult_header {
        background-image: url("../images/layout-top-sm.png");
        background-size: 100% 158px;
        background-repeat: no-repeat;
     }
    .header-clear {
        position:absolute;
        top:140px;
        border:0px solid blue;
        background-color: #FFFFFF;
        width: 100%;
        height: 80px;
        -ms-transform: skew(0deg,-10deg); /* IE 9 */
        -webkit-transform: skew(0deg,-10deg); /* Safari */
        transform: skew(0deg,-10deg); /* Standard syntax */
        z-index: -1;
    }
    .header-grad {
        position:absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 180px;
        background: #993334; /* For browsers that do not support gradients */
        background: linear-gradient(to right, #993333 , #663366); /* Standard syntax */
        border: 0px solid black;
        z-index: -1;
    }
}

 .hult_containers {
    margin:0px auto;
    padding:0px 17px;
 }
 .hult_container_b1 {
    max-width: 940px;
    display: inline-block;
 }
 .hult_container_b2 {
    max-width: 42px; 
    display: inline-block;
 }
 .hult_container_b3 {
    position: absolute;
    top: 2px;
 }
 
 .hult_header #head_container {
    border:1px dotted blue;
    margin-top:45px;
    width: 100%;
}

#container_logo img{
    float:left;
    margin:0px;
    border:0px dotted white;
    width: 100%;
    max-width: 150px;
    min-width: 105px;
}

#flexi_container {
    max-width: 990px;
    display: inline-block;
}

@media (min-width: 601px) {
    #container_logo {
        padding:40px 0 0 0;
        border:0px dotted white;
    }
    .hult_footer {
        background-image: url("../images/layout-bottom.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: #F0F0F0; 
        min-height:250px;
        position:relative;
        left:0px;
        bottom:0px;
        width:100%;
        padding:70px 10px 10px 10px;
        overflow: hidden;
        border:0px dotted blue;
    }
    .footer-clear {
        position:relative;
        top:40px;
        border:0px solid blue;
        background: #993334; /* For browsers that do not support gradients */
        background: linear-gradient(to right, #993333 , #663366); /* Standard syntax */
        width: 100%;
        height: 80px;
        -ms-transform: skew(0deg,-2deg); /* IE 9 */
        -webkit-transform: skew(0deg,-2deg); /* Safari */
        transform: skew(0deg,-2deg); /* Standard syntax */
        z-index: -1;
    }
    .footer-grad {
        position:relative;
        top: 0px;
        bottom:0px;
        left: 0px;
        padding-top: 80px;
        width: 100%;
        min-height: 250px;
        background: #993334; /* For browsers that do not support gradients */
        background: linear-gradient(to right, #993333 , #663366); /* Standard syntax */
        border: 0px dotted black;
        z-index: -1;
    }
}

 @media (max-width: 600px) {
    #container_logo {
       padding:5px 0 0 0;
       border:0px dotted white;
    }
    .hult_footer {
        background-image: url("../images/layout-bottom-sm.png");
        background-size: 100% 500px;
        background-repeat: no-repeat;
        background-color: #F0F0F0; 
        min-height:250px;
        position:relative;
        left:0px;
        bottom:0px;
        width:100%;
        padding:70px 10px 10px 10px;
        overflow: hidden;
        border:0px dotted blue;
    }
    .footer-clear {
        position:relative;
        top:40px;
        border:0px solid blue;
        background: #993334; /* For browsers that do not support gradients */
        background: linear-gradient(to right, #993333 , #663366); /* Standard syntax */
        width: 100%;
        height: 80px;
        -ms-transform: skew(0deg,-10deg); /* IE 9 */
        -webkit-transform: skew(0deg,-10deg); /* Safari */
        transform: skew(0deg,-10deg); /* Standard syntax */
        z-index: -1;
    }
    .footer-grad {
        position:relative;
        top: 0px;
        bottom:0px;
        left: 0px;
        padding-top: 80px;
        width: 100%;
        min-height: 360px;
        background: #993334; /* For browsers that do not support gradients */
        background: linear-gradient(to right, #993333 , #663366); /* Standard syntax */
        border: 0px dotted black;
        z-index: -1;
    }
}

.hult_upper_footer div {
    display:block;
    margin:15px auto;
    padding:17px;
    border:0px dotted blue;
}

.hult_upper_footer {
    background-color: #F0F0F0;
    padding:20px;
    border:0px dotted blue;
}

#hult_left_box {
    float:left;
    margin:8px 2px;
    color:#FFFFFF;
    display:inline-block;
    padding: 0px 20px;
    border:0px dotted white;
}

#hult_right_box {
    float:right;
    margin:5px 2px;
    color:#FFFFFF;
    display:inline-block;
    padding: 0px 20px;
    border:0px dotted white;
}

.hult_content {
    max-width: 1148px;
}

.box-top span {
    font-size:14px;
    font-weight: 600;
    color: #9d9d9d;
}

.row {
    max-width: 1148px;
    margin:0px auto;
}

.row div{
    border: 0px dotted blue;
}

.hult_clear{
    clear:both;
}

.align-left {
    float:left;
    margin:2px;
    border:0px dotted white;
}

.align-right {
    float:right;
    margin:2px;
    border:0px dotted white;
}

align-center {
    display:block;
    margin:10px auto;
}

.serial {
    display:block;
}

.parallel{
    display:inline-block;
}

.hult_profile_opt{
    float:right;
    min-width: 120px;
    border:0px dotted white;
}

.hult_profile_opt * {
    border:0px dotted white;
    display:inline-block;
    color:#FF99CC;
}

.hult_menu {
    float:right;
    background-color:#660033;
    width:40px;
    height:40px;
}

#avatar {
    float:right;
    margin:15px 0px 0px 5px;
    border:0px dotted white;
}

#bell{
    width:25px;
    margin:0px 1px 0px 0px;
}

#triangle{
    width:15px;
    margin:0px 0px 0px 1px;
}

.nopadding {
    padding:0px;
}

.box-paragraph-fx {
 margin: 30px 0px;   
}

.breadcrumb-home {
    color: #8b8b8b;
}

/* rotations clases */

.module_box {
    max-width: 350px;
}

.box-top{
    font-size:17px;
    background-color: #8b8b8b;
    width:100%;
    height:30px;
    color:#FFFFFF;
    padding: 5px 9px;
}

.box-desc {
    padding: 15px 0px;
    margin-bottom: 25px;
    background-color: #FFFFFF;
}

.col-md-4 .box-desc {
    padding: 15px 0px;
    background-color: #FFFFFF;
}

@media (max-width: 600px) {
    .col-sm-4 .box-desc {
        padding: 15px 20px; 
        background-color: #F6ECE2;    
    }
    .modal-dialog {
        width:100%;
        height:100%;
        margin:0;
    }
    #rotationbox {
        padding:0;
    }
}

.box-img img {
    width: 100%;
}

.unselected {
    border:2px dotted #8b8b8b;
}

.rot_boston {background-color: #1a82b3;}
.modal_boston h3{color:#1a82b3;}

.rot_sanfrancisco {background-color: #b32c1a;}
.modal_sanfrancisco h3{color: #b32c1a;}

.rot_london {background-color: #8d333f;}
.modal_london h3{color: #8d333f;}

.rot_dubai {background-color: #305935;}
.modal_dubai h3{color: #305935;}

.rot_shanghai{background-color: #338d81;}
.modal_shanghai h3{color: #338d81;}

.rot_newyork{background-color: #ff6000;}
.modal_newyork h3{color: #ff6000;}

.rot_ashridge{background-color: #94d600;}
.modal_ashridge h3{color: #94d600;}

.rot_norotation{background-color: #8b8b8b;}
.modal_norotation h3{color: #8b8b8b;}

/* Modal rotation dialog box */
#rotationbox .modal-content {
    background-color: #8D333F;
    color:white;
    padding-bottom: 5px;
}
#rotationbox .modal-body {
    background-color: #FFFFFF;
    color:#000000;
}
#rotationbox .modal-footer {
    background-color: #ffffff; 
    height: 5px;
}

#rotationbox .box-icon {
    border-radius:8px;
    width: 46px;
}
#rotationbox .box-countrycity {
    min-width: 170px;
    font-size: 95%;
    border:0px dotted red;
}

#rotationbox .box-countrycity *{
    margin:1px 6px;
}

#rotationbox .box-countrycity p{
    color: #8b8b8b;
    margin-top: 0px;
}

#rotationbox .col-sm-6 div, .col-md-6 div{
    float:left;
    display:inline-block;
    margin:0px 0px 10px 0;
}

#rotationbox .addrotation, .addrotation:hover {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#rotationbox .row {
    margin: 20px; 
}

.hult_close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  filter: alpha(opacity=10);
  opacity: .8;
}
.hult_close:hover,
.hult_close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=20);
  opacity: .4;
}
button.hult_close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.hult_upper_footer div p {
    margin-bottom: 30px;
}

.hult_button {
    font-family: ProximaNova;
    background: #993334; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #993334 , #cc3366); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #993334, #cc3366); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #993334, #cc3366); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #993334 , #cc3366); /* Standard syntax */
    margin: 20px 0px;
    color: white;
    padding: 15px 60px;
    border-radius: 8px;
}

.hult_button:hover {
    text-decoration: none;
    color:white;
}

.dotted_box {
    border:1px dotted blue;
    background-color: grey;
}

.campus_box {
    min-width: 230px;
}

    
.footer-container {
    min-height:250px;
    position:relative;
    left:0px;
    bottom:0px;
    width:100%;
    padding:0px;
    overflow: hidden;
    border:0px dotted blue;
    background-color: #F0F0F0;
    z-index: -1;
}